<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car Form</title>
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-9">
            <h1>Car Form</h1>
            <form action="#" th:action="@{/processcar}" th:object="${car}" method="post">

                <div class="container">
                    <div class="row">
                        <div class="col">
                            <input type="hidden" th:field="*{id}"/>
                            <div class="form-group">
                                <label for="carmake">Make</label>
                                <input class="form-control" id="carmake" type="text" th:field="*{make}"/>
                            </div>
                            <!--Make: <input type="text" th:field="*{make}"/>-->
                            Model: <input type="text" th:field="*{model}"/>
                            Year: <input type="text" th:field="*{year}"/>
                            MSRP: <input type="text" th:field="*{msrp}"/>



                            <!--Category: <select th:field="*{category}">-->
                            <!--<option th:each="category: ${categories}"-->
                                    <!--th:text="${category.type}"-->
                                    <!--th:value="${category.id}"></option>-->
                        <!--</select>-->

                            Category: <input type="text" list="cars" th:field="*{category}"/>
                            <datalist id="cars">
                                <option th:each="category: ${categories}"
                                        th:text="${category.type}"
                                        th:value="${category.id}"></option>
                            </datalist>

                            <!--Datlist example-->
                            <!--<input list="encodings" value="" class="col-sm-6 custom-select custom-select-sm">-->
                            <!--<datalist id="encodings">-->
                                <!--<option value="ISO-8859-1">ISO-8859-1</option>-->
                                <!--<option value="cp1252">ANSI</option>-->
                                <!--<option value="utf8">UTF-8</option>-->
                            <!--</datalist>-->


                        </div>
                    </div>

                </div>

                <button type="submit">Save Car</button>

            </form>

        </div>
    </div>
</div>


</body>
</html>