<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Category</title>
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
<form action="#"
      th:action="@{/processcategory}" th:object="${category}" method="post">
    <input type="hidden" th:field="*{id}"/>

    Category: <input type="text" th:field="*{type}" />
    <!--<span th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></span>-->
    <input type="submit" value="Submit" />

</form>


</body>
</html>